# Files that should not be tracked by Git

# The compiled executables
/*.map
/beep
/issue-6-bench
/issue-6-benchmark

# Old compiled executables
/*.clang
/*.gcc

# Built sources
/beep-config.h
/beep-usage.c
/beep-usage.txt

# Build intermediates
/*.deps/
/*.objs/
/beep.1

# Old build intermediates
*.dep
*.tmp
*.clang-o
*.gcc-o
*.o
*.i
*.s
*.bc
*.lst
*.gcc-lst

# The compressed man page
/beep.1.gz

# Built stuff
/dox/
/html/
/*.html
/__tmp/
/tarball-dist/
/tarball-git-dist/
/beep-*.tar.gz
/beep-*.tar.xz

# Test results
/tests/*.actual.output.new
/tests/*.actual.output
/tests/*.output.actual.new
/tests/*.output.actual
/tests/*.actual.new
/tests/*.actual
/tests/*.output.new
/tests/*.output
/tests/*.pcspkr-actual
/tests/*.pcspkr-expected

# Misc results
*.strace
/Doxyfile
/doxygen.stamp

# Test builds
/_build-*/
/_prefix-*/
